<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
<body>
<div class="container ">
    <div class="mt-5">
        <h3>Coronavirus Tracker Application</h3>
        <h6>this application lists the current number of cases reported across the globe</h6>
    </div>
    <div class="mx-auto">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="${total}" style="color: #1e6b7f"></h1>
                <p class="lead">Total cases reported until today</p>
            </div>
        </div>
    </div>
    <div class="">
        <form method="get">
            <label for="search">Search</label>
            <input type="text" name="s" id="search" th:value="${search}">
            <button type="submit" class="btn btn-primary btn-sm">search</button>
        </form>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">State</th>
                <th scope="col">Country</th>
                <th scope="col">Total cases reported</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="state : ${data}">
                <td th:text="${state.state}"></td>
                <td th:text="${state.country}"></td>
                <td th:text="${state.totalCases}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>